
/* header section */
.top-bar{
    display: flex;
        gap: 20px;
        padding: 20px 30px;
        background-color: azure;
        align-items: center;
    }
   .top-bar h6{
    margin: 0;
    font-size: 15px;
   }
.top-bar button{
    background-color: white;
    border: none;
    padding: 5px 10 px;
   margin-left: 5px;
   cursor: pointer;
   border-radius: 5px;
   display: flex;
   align-items: center;

}
.left-button{
    margin-right: auto;
    
}
.right-buttons{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: auto;
}



.icon{
   display: flex;
   margin-left: auto;
   gap: 30px;
}
/*navbar section */
.navbar{
    padding: 22px 0 21px;
    display: flex;
    align-items: center;
    font-size: 12PX;
    justify-content: space-between;
   
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    
}
   

nav a {
    text-decoration: none;
    font-size: 15px;
    color: #232020;
    font-weight: 600;
}
nav a:hover{
    color: #e91e63;
    background-color: #f5f9f8;
    padding: 6px;
    border-radius: 14px;
}
nav h1{
   
}
nav input {
    height: 20px;
    width: 150pX;
    padding-left: 5px;
    font-size: 10px;
    display: flex;
justify-content: end;
}
